#logs {
  padding: 100px 50px 50px 50px;

  ul {
    list-style: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

    li {
      padding: 10px;
      i {
        vertical-align: middle;
        padding-right: 10px;
      }
      a {
        color: #F0F0F0;
      }
    }
  }
}

@media(max-width: 767px) {
  #logs {
    padding: 15px 50px;
  }
}
