<div id="logs">
  <h3>Latest Logs</h3>
  <ul>
    <li><i class="material-icons">multiline_chart</i><a href="http://www.askmrrobot.com/wow/combatlog/0852a047-29af-4b86-a66f-437caafba145/overview" target="_blank">Thu March 31</a></li>
    <li><i class="material-icons">multiline_chart</i><a href="http://www.askmrrobot.com/wow/combatlog/dd31a9fd-00bf-4f31-9bdb-d6589cba45d8/overview" target="_blank">Wed March 30</a></li>
    <li><i class="material-icons">multiline_chart</i><a href="http://www.askmrrobot.com/wow/combatlog/e2504c5a-fccf-407e-9dae-db7f53876593/overview" target="_blank">Tue March 29</a></li>
    <li><i class="material-icons">multiline_chart</i><a href="http://www.askmrrobot.com/wow/combatlog/ba468e65-4e08-4085-af29-0ba1d28c4f1a/overview" target="_blank">Thu March 24</a></li>
    <li><i class="material-icons">multiline_chart</i><a href="http://www.askmrrobot.com/wow/combatlog/abd148f7-e039-4175-8391-467cac1e8c60/overview" target="_blank">Wed March 23</a></li>
    <li><i class="material-icons">multiline_chart</i><a href="http://www.askmrrobot.com/wow/combatlog/9c980843-ff33-46dc-8097-340914f67ceb/overview" target="_blank">Tue March 22</a></li>
    <li><i class="material-icons">multiline_chart</i><a href="http://www.askmrrobot.com/wow/combatlog/6ab7ce46-c998-41a2-8a74-3d4e662c9803/overview" target="_blank">Fri March 18</a></li>
    <li><i class="material-icons">multiline_chart</i><a href="http://www.askmrrobot.com/wow/combatlog/109b8be4-8608-4512-b012-7102313caa34/overview" target="_blank">Wed March 16</a></li>
    <li><i class="material-icons">multiline_chart</i><a href="http://www.askmrrobot.com/wow/combatlog/4c1c1d84-2902-43f5-acf6-8eef26361d1f/overview" target="_blank">Tue March 15</a></li>
  </ul>
</div>
