.ember-view.alert {
  position: fixed;
  padding: 10px 20px;
  bottom: 10px;
  right: 10px;

  &.active {

    &.alert-success {
      background-color: #43AC6A;
      border-color: #3A945B;
      color: #FFF;
    }

    &.alert-info {
      background-color: #A0D3E8;
      border-color: #74BFDD;
      color: #4F4F4F;
    }

    &.alert-warning {
      background-color: #F08A24;
      border-color: #DE770F;
      color: #FFF;
    }

    &.alert-alert,
    &.alert-danger {
      background-color: #F04124;
      border-color: #DE2D0F;
      color: #FFF;
    }
  }
}
