.navbar-fixed {
  ~ div {
    &.parallax-container {
      height: 800px;
    }
  }
}
.header {
  position: absolute;
  top: 200px;
  text-align: center;
  width: 100%;
  color: white;

  .logo {
    img {
      max-width: 300px;
      text-align: center;
    }
  }
}
.home {
  min-height: 600px;
  padding: 100px 0;

  .profile-image {
    text-align: center;
    img {
      border-radius: 50%;
      max-height: 300px;
    }
  }

  p {
    font-size: 1.5em;
  }
}
.button-row {
  min-height: 200px;
  padding: 75px 0;
  text-align: center;

  .btn {
    min-width: 240px;
  }

  ~ div {
    &.parallax-container {
      height: 300px;
    }
  }
}
.resume {
  min-height: 1200px;
  padding-top: 150px;

  .logo {
    text-align: center;

    img {
      max-height: 150px;
    }
  }
  h1 {
    text-align: center;
    margin-bottom: 100px;
  }
  .experience, .education, .skills {
    margin-bottom: 50px;
  }
  .card {
    .card-image {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    img {
      max-height: 94px;
      padding: 10px;
    }

    .company {
      h5 {
        margin: 0.82rem 0 0.3rem 0;
      }
      .years {
        color:#546e7a; //blue-grey darken-1
        font-weight: 600;
      }
      .title {
        color: #78909c; //blue-grey lighten-1
        font-weight: 400;
        font-size: 1.2em;
      }
      p {
        padding-top: 10px;
      }
    }
  }
  .skills {
    .collection {
      .collection-item {
        &.avatar {
          min-height: 75px;
          img {
            position: absolute;
            max-width: 45px;
            overflow: hidden;
            left: 15px;
            display: inline-block;
            vertical-align: middle;
          }
        }
        .title {
          font-weight: 600;
          color: #78909c; //blue-grey lighten-1
        }
        .secondary-content {
          i {
            color: #ff8a80; //red accent-1
          }
        }
      }
    }
  }
}
