#home {
  min-height: 800px;
  padding-top: 100px;
}

#raiding {
  min-height: 500px;
  padding-top: 100px;
}

#social {
  min-height: 300px;
  a {
    i {
      padding-right: 10px;
    }
  }
}

#join {
  min-height: 800px;
  padding-top: 200px;

  .row {
    ~.row {
      padding-top: 100px;
    }
  }
  img {
    max-width: 300px;
    float: right;
  }
}

#store {
  min-height: 500px;
  padding-top: 100px;
  img {
    width: 300px;
    float: right;
  }
}
