#home {
  min-height: 800px;
  padding-top: 100px;
}

#raiding {
  min-height: 500px;
  padding-top: 100px;
}

#social {
  min-height: 300px;
  p {
    i {
      font-size: 1.5em;
      padding-right: 10px;
    }
    a {
      color: #fff;
      transition: color .3s ease;
      cursor: pointer;

      &:hover {
        transition: color .3s ease;
        color: darken(#fff, 15%);
      }
    }
  }
}

#join {
  min-height: 800px;
  padding-top: 100px;

  .row {
    ~.row {
      padding-top: 100px;
    }
  }
}

#footer {
  a {
    color: #fff;
    font-size: 1.8em;
    padding: 0 5px;
  }
  p {
    text-align: left;

    ~p {
      text-align: right;
      line-height: 3;
    }
  }
}
