<!DOCTYPE html>
<html>
  <head>
    <title>No Breaks :: [H] Thrall</title>
    <base href="/">

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <my-app>Loading...</my-app>
  </body>

  <script src="vendor.bundle.js"></script>
  <script src="app.bundle.js"></script>
</html>
