<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand visible-xs" (click)="goToPage('home')"><span class="icon-nobreaks"></span> No Breaks</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [class.active]="activePage === 'guild'"><a (click)="goToPage('guild')">Guild <span class="sr-only">(current)</span></a></li>
        <li [class.active]="activePage === 'raiding'"><a (click)="goToPage('raiding')">Raiding</a></li>
        <li [class.active]="activePage === 'logs'"><a (click)="goToPage('logs')">Logs</a></li>
        <li class="nav-logo center-block hidden-xs">
          <a (click)="goToPage('home')">
            <span
              [class.icon-nobreaks]="stickyTop"
              [class.horde]="!stickyTop">
              <img [class.fade-out]="stickyTop" src="./assets/images/horde.png" alt="">
            </span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [class.active]="activePage === 'twitch'"><a (click)="goToPage('twitch')">Twitch</a></li>
        <li [class.active]="activePage === 'events'"><a (click)="goToPage('events')">Events</a></li>
        <li [class.active]="activePage === 'join'"><a (click)="goToPage('join')">Join</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="body container-fluid">
  <div class="row home">
    <div class="logo-block" [class.hide]="!showHomeLogo" [style.opacity]="1 - (scrollTop / 500)">
      <div class="logo"><span class="icon-nobreaks"></span></div>
      <h1>No Breaks</h1>
      <p>A pretty sweet raiding guild on Thrall</p>
    </div>
  </div>
</div>

<the-guild></the-guild>
<raiding></raiding>
<events></events>
<join></join>
