@mixin fadein {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */

  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }
}
@mixin fadeout {
  animation: fadeout 2s;
  -moz-animation: fadeout 2s; /* Firefox */
  -webkit-animation: fadeout 2s; /* Safari and Chrome */
  -o-animation: fadeout 2s; /* Opera */

  @keyframes fadeout {
      from {
          opacity:1;
      }
      to {
          opacity:0;
      }
  }
  @-moz-keyframes fadeout { /* Firefox */
      from {
          opacity:1;
      }
      to {
          opacity:0;
      }
  }
  @-webkit-keyframes fadeout { /* Safari and Chrome */
      from {
          opacity:1;
      }
      to {
          opacity:0;
      }
  }
  @-o-keyframes fadeout { /* Opera */
      from {
          opacity:1;
      }
      to {
          opacity: 0;
      }
  }
}
//navbar styles
.navbar-collapse {
  &[aria-expanded="true"] {
    .nav {
      display: block;
      width: 100%;
      margin: 0;
    }
  }
}
.navbar-nav {
  font-size: 1.4em;
}
.navbar-default {
  background-color: rgba(0,0,0,0.3);
  border: none;
  .navbar-brand {
    color: #fff;
    .icon-nobreaks {
      vertical-align: middle;
      font-size: 1.5em;
    }
  }
  .navbar-toggle {
    &:focus, &:hover {
      background-color: rgba(0, 0, 0, 0.32);
    }
  }
  .nav {
    display: flex;
    justify-content: space-between;
    width: 42%;
    .nav-logo {
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      padding: 0;
      position: absolute;
      border-style: solid;
      border-width: 100px 100px 0 100px;
      border-color: #000000 transparent transparent transparent;
      .horde {
        img {
          @include fadein;
          height: 76px;
          top: -94px;
          left: -21px;
          position: absolute;
        }
      }
      .icon-nobreaks {
        color: #fff;
        position: absolute;
        top: -93px;
        font-size: 2.9em;
        left: -41px;
        @include fadein;

        img {
          &.fade-out {
            @include fadeout;
            height: 76px;
            top: -94px;
            left: -21px;
            position: absolute;
            visibility: hidden;
          }
        }
      }

      a {
        color: #fff;
      }
    }
    li {
      &.active {
        border-bottom: 2px solid #fff;
        a {
          background-color: transparent;
        }
      }
      a {
        color: #fff;
      }
    }
  }
}
//Home styles
.home {
  background-image: url('/assets/images/illidan-stormrage1-full.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 120vh;
  top: 0;
  bottom: 0;

  .logo-block {
    margin-top: 50px;
    text-align: center;
    margin-top: 15%;
    color: #fff;

    &:not(.hide) {
      @include fadein;

      h1 {
        font-size: 7em;
      }
      p {
        font-size: 2em;
      }
      .icon-nobreaks {
        font-size: 18em;
        @include fadein;
      }
    }
  }
}
@media only screen and (max-width : 480px) {
  .home {
    .logo-block {
      margin-top: 40%;

      &:not(.hide) {
        @include fadein;

        h1 {
          font-size: 5em;
        }
        p {
          font-size: 2rem;
        }
        .icon-nobreaks {
          font-size: 16em;
          @include fadein;
        }
      }
    }
  }
}
