<div class="progress-tab">
  <div class="row tab-header">
    <h4>Mythic Progression</h4>
  </div>
  {{#each model.raids as |raid|}}
  <div class="raid">
    <h5>{{raid.name}}</h5>

    <ul class="row">
      {{#each raid.bosses as |boss|}}
      <li class="col s12 m6 l3 {{if boss.mythicKills 'killed'}}">
        <div class="card grey darken-4">
          <div class="card-content row">
            <div class="content-wrap">
              <h6 class="name col s12 white-text">{{boss.name}}</h6>
              {{#if boss.mythicKills}}
                <div class="killed">
                  <img class="dead" src="https://api.nobreaksguild.com/cdn/images/bosses/dead.png" />
                </div>
              {{/if}}
              <img src={{boss.thumbnail}} />
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/each}}
</div>
