<ul class="row roster grey lighten-4">
  {{#each model as |character|}}
  <li class="col s12 m6 l3">
    <div class="card">
      <div class="card-content row">
        <div class="name col s12">{{character.name}}</div>
        <img src="https://us.battle.net/static-render/us/{{character.thumbnail}}" class="col s6"/>
        <div class="info col s6">
          <h6>Item Level</h6>
          {{character.items.averageItemLevelEquipped}} /
          {{character.items.averageItemLevel}}
          <h6>Race</h6>
          <h6>Class</h6>
        </div>
        <div class="epgp-count col s12">
          EPGP Count: n/a
        </div>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
