<ul>
  {{#each model as |character|}}
    <li>
      {{character.name}}
      <img src="https://us.battle.net/static-render/us/{{character.thumbnail}}" />
      {{character.items.averageItemLevel}}
      {{character.items.averageItemLevelEquipped}}
    </li>
  {{/each}}
</ul>
