#twitch {
  padding: 100px 50px 50px 50px;

  iframe {
    width: 100%;
  }
}

@media(max-width: 767px) {
  #twitch {
    text-align: center;
    padding: 15px 50px;

    iframe {
      width: auto;
    }
  }
}
