<div id="guild">
  <div class="text-block">
    <h1>The Guild</h1>
    <p>We are a raiding guild on Thrall (5/13 Mythic HFC). Although we're not hardcore raiders, we buckle down when necessary.
      No Breaks prides itself on creating a close-knit community and friendly, albeit weird, members.
      We have a guild leader that isn't a scrub and we wear pink on Fridays!</p>

    <h2>Plans for Legion</h2>
    <p>No Breaks will be raiding in Legion! We are looking for some new members to fill out our current raid team and help us with progression when the new expansion drops.</p>
  </div>
</div>
