<div id="guild">
  <div class="row-flex">
    <div class="text-block col-md-6 col-sm-6">
      <h1>The Guild</h1>
      <p>We are a raiding guild on Thrall (9/13 Mythic HFC). Although we're not hardcore raiders, we buckle down when necessary.
        No Breaks prides itself on creating a close-knit community and friendly, albeit weird, members.
        We have a guild leader that isn't a scrub and we wear pink on Fridays!</p>

      <h2>Plans for Legion</h2>
      <p>No Breaks will be raiding in Legion! We are looking for some new members to fill out our current raid team and help us with progression when the new expansion drops.</p>
    </div>
    <div class="image-block col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
      <h2>Why is our mascot a crying bear?</h2>
      <div class="logo"><span class="icon-nobreaks"></span></div>
      <ul id="bear-sayings" class="bear-sayings">
          <li>Krothac's DPS</li>
          <li>We had to listen to Murloc bitch about sports</li>
          <li>Kon called us scrubs again</li>
          <li>Some new guy just looted the last piece of Krothac's set</li>
          <li>Angel has one weed</li>
          <li>Murloc is talking about lore again</li>
          <li>We're trying to eat and Shadow won't stop yelling "GoGoGoGo"</li>
          <li>Shad said there are better guilds out there</li>
          <li>The healer is Kro-faced</li>
          <li>Kon won't share his snacks</li>
          <li>We have a case of the dumbs</li>
          <li>Vxar forgot /rt Iskar again</li>
          <li>Poor life choices</li>
          <li>Mistakes have been made</li>
          <li>691 is overgeared?</li>
          <li>We have a holy priest!</li>
          <li>Angel is talking about dude wipes again...</li>
      </ul>
    </div>
  </div>
</div>
