<section class="resume section blue-grey lighten-5">
  <div class="row container">
    <div class="logo">
      <img src="assets/img/jackalope-logo-black.png" alt="Jackalope" />
    </div>
    <h1>Résumé</h1>
    <div class="col s12 l8">
      <div class="experience col s12">
        <h4>Experience</h4>
        <div class="col s12 m10">
          <div class="card horizontal">
            <div class="card-image">
              <img src="assets/img/cengage-logo.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div class="company">
                  <h5>Cengage Learning</h5>
                  <div class="title">
                    UI / UX Designer
                  </div>
                  <div class="years">
                    2016 - Present
                  </div>
                  <p>
                    Create mockups, concept new digital products, help implement new front-end technology, and modernize legacy products.
                  </p>
                </div>
              </div>
              <div class="card-action">
                <a href="https://cengage.com/" target="_blank" class="btn-flat waves-effect waves-red red-text text-accent-1">cengage.com</a>
              </div>
            </div>
          </div><!--card end-->
        </div>
        <div class="col s12 m10">
          <div class="card horizontal">
            <div class="card-image">
              <img src="assets/img/digitalroots-logo.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div class="company">
                  <h5>Digital Roots</h5>
                  <div class="title">
                    Lead UI / UX Designer
                  </div>
                  <div class="years">
                    2015 - 2016
                  </div>
                  <p>
                    Created a consistent look and feel across products, improved front-end
                    technology, and introduced team best practices.
                  </p>
                </div>
              </div>
              <div class="card-action">
                <a href="https://digitalroots.com/" target="_blank" class="btn-flat waves-effect waves-red red-text text-accent-1">digitalroots.com</a>
              </div>
            </div>
          </div><!--card end-->
        </div>
        <div class="col s12 m10">
          <div class="card horizontal">
            <div class="card-image">
              <img src="assets/img/riis-logo.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div class="company">
                  <h5>RIIS</h5>
                  <div class="title">
                    UI / UX Designer
                  </div>
                  <div class="years">
                    2013 - 2015
                  </div>
                  <p>
                    Created beautiful UIs for many projects and clients including:
                    Cengage Learning, Blue Cross, and St. Joseph. Projects ranged
                    from marketing sites to internal development tools.
                  </p>
                </div>
              </div>
              <div class="card-action">
                <a href="http://riis.com/" target="_blank" class="btn-flat waves-effect waves-red red-text text-accent-1">riis.com</a>
              </div>
            </div>
          </div><!--card end-->
        </div>
        <div class="col s12 m10">
          <div class="card horizontal">
            <div class="card-image">
              <img src="assets/img/yottabyte-logo.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div class="company">
                  <h5>Yottabyte</h5>
                  <div class="title">
                    Digital Designer
                  </div>
                  <div class="years">
                    2011 - 2013
                  </div>
                  <p>
                    Developed the UI for a cloud-based operating system, created
                    an icon suite, and handled all graphic design for the company.
                  </p>
                </div>
              </div>
              <div class="card-action">
                <a href="http://yottabyte.com/" target="_blank" class="btn-flat waves-effect waves-red red-text text-accent-1">yottabyte.com</a>
              </div>
            </div>
          </div><!--card end-->
        </div>
        <div class="col s12 m10">
          <div class="card horizontal">
            <div class="card-image">
              <img src="assets/img/sft-logo.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div class="company">
                  <h5>Songs for Teaching</h5>
                  <div class="title">
                    Digital Illustrator & Graphic Designer
                  </div>
                  <div class="years">
                    2008 - 2011
                  </div>
                  <p>
                    Illustrated hundreds of coloring pages, created web graphics, and handled tech support for customer service.
                  </p>
                </div>
              </div>
              <div class="card-action">
                <a href="http://www.songsforteaching.com/index.html" target="_blank" class="btn-flat waves-effect waves-red red-text text-accent-1">songsforteaching.com</a>
              </div>
            </div>
          </div><!--card end-->
        </div>
      </div>
      <div class="education col s12">
        <h4>Education</h4>
        <div class="col s12 m10">
          <div class="card horizontal">
            <div class="card-image">
              <img src="assets/img/gvsu-logo.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <div class="company">
                  <h5>Bachelor of Fine Arts</h5>
                  <div class="title">
                    Emphasis in Digital Illustration
                  </div>
                  <div class="years">
                    2009
                  </div>
                  <p>
                    Grand Valley State University <br>
                    Allendale, MI
                  </p>
                </div>
              </div>
              <div class="card-action">
                <a href="http://www.gvsu.edu/" target="_blank" class="btn-flat waves-effect waves-red red-text text-accent-1">gvsu.edu</a>
              </div>
            </div>
          </div><!--card end-->
        </div>
      </div>
    </div>

    <div class="col s12 l4">
      <div class="skills">
        <h4>Skills</h4>
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="assets/img/HTML5-logo.png" alt="html5">
            <span class="title">HTML5</span>
            <p>Expert</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/css3-logo.png" alt="css3">
            <span class="title">CSS3</span>
            <p>Expert</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/js-logo.png" alt="javascript">
            <span class="title">JavaScript</span>
            <p>Beginner</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/git-logo.png" alt="git">
            <span class="title">Git</span>
            <p>Advanced</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/adobe-cs-logo.png" alt="Adobe">
            <span class="title">Adobe CS</span>
            <p>Expert</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/axure-logo.jpg" alt="Axure">
            <span class="title">Axure RP</span>
            <p>Advanced</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/jekyll-logo.png" alt="Jekyll">
            <span class="title">Jekyll</span>
            <p>Proficient</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/ux-logo.jpg" alt="User Testing">
            <span class="title">User Testing</span>
            <p>Advanced</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/jackalope-logo-black.png" alt="Graphic Design">
            <span class="title">Graphic <br>Design</span>
            <p>Advanced</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/illustration-logo.jpg" alt="Illustration">
            <span class="title">Illustration</span>
            <p>Expert</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/accessibility-logo.png" alt="accessibility">
            <span class="title">Accessibility</span>
            <p>Proficient</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/bp_logo.png" alt="best practices">
            <span class="title">Best <br>Practices</span>
            <p>Advanced</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i></div>
          </li>
          <li class="collection-item avatar">
            <img src="assets/img/dt-logo.png" alt="design trends">
            <span class="title">Design <br>Trends</span>
            <p>Advanced</p>
            <div class="secondary-content"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i></div>
          </li>
        </ul>
      </div>

      <div class="soft-skills">
        <h4>Soft Skills</h4>
        <ul class="collection">
          <li class="collection-item">Outgoing</li>
          <li class="collection-item">Friendly</li>
          <li class="collection-item">Quick Learner</li>
          <li class="collection-item">Never Misses Deadlines</li>
        </ul>
      </div>
    </div>
  </div>
</section>
