{{md-parallax image="/assets/images/legion-2560x1440-wide.jpg"}}
  <div id="home" class="section grey lighten-2">
    <div class="row container">
      <h1>No Breaks</h1>
      <p>
        We are a raiding guild on Thrall (9/13 Mythic HFC). Although we're not
        hardcore raiders, we buckle down when necessary. No Breaks prides itself
        on creating a close-knit community and friendly, albeit weird, members.
        We have a guild leader that isn't a scrub and we wear pink on Fridays!
      </p>

      <h2>Plans for Legion</h2>
      <p>
        No Breaks will be raiding in Legion! We are looking for some new members
        to fill out our current raid team and help us with progression when the
        new expansion drops.
      </p>
    </div>
    <div class="row container crying-bear">
      crying bear placeholder
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <div id="raiding" class="section grey lighten-2">
    <div class="row container">
      <h1>Raiding</h1>
      <picture>
        <img src="http://placekitten.com/300/300" alt="meow" />
        <caption>latest kill</caption>
      </picture>
      <p>
        Did we mention we raid? Check out our progress, laugh at our logs, and watch us on Twitch!
      </p>
      <button type="button" name="button" class="btn default">Raiding</button>
    </div>
    <br />
    <br />
    <br />
    <br />
  </div>

  <br />
  <br />
  <br />
  <br />

  <div id="social" class="section grey lighten-2">
    <div class="row container">
      <h1>More Room for Activities!</h1>
      <p>Friendface</p>
      <p>Twitch</p>
      <p>Schedule</p>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <div id="join" class="section grey lighten-2">
    <div class="row container">
      <h1>Join Us!</h1>
      <p>
        Either post on the forums or message a guild member for more information. ShdowHuntr (SweetTea#1139) is the recruitment officer.
      </p>
      <button type="button" name="button" class="primary btn">Apply</button>

      <h2>Call to Arms</h2>
      <p>
        We are preparing for Legion! Join in on the fun and find some leveling buddies!
      </p>
    </div>
  </div>
{{md-parallax image="/assets/images/legion-2560x1440-wide.jpg"}}
