{{md-parallax image="/assets/images/legion-2560x1440-wide.jpg"}}
  <div id="home" class="section grey lighten-2">
    <div class="row container">
      <p>WELCOME</p>
      <p>WELCOME</p>
      <p>WELCOME</p>
      <p>WELCOME</p>
      <p>WELCOME</p>
      <p>WELCOME</p>
      <p>WELCOME</p>
      <p>WELCOME</p>
      <p>WELCOME</p>
      <p>WELCOME</p>
      <p>WELCOME</p>
      <p>WELCOME</p>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <div id="guild" class="section grey lighten-2">
    <div class="row container">
      <p>WHO WE ARE</p>
      <p>WHO WE ARE</p>
      <p>WHO WE ARE</p>
      <p>WHO WE ARE</p>
      <p>WHO WE ARE</p>
      <p>WHO WE ARE</p>
      <p>WHO WE ARE</p>
      <p>WHO WE ARE</p>
      <p>WHO WE ARE</p>
      <p>WHO WE ARE</p>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <div id="raiding" class="section grey lighten-2">
    <div class="row container">
      <p>RAIDING STUFF</p>
      <p>RAIDING STUFF</p>
      <p>RAIDING STUFF</p>
      <p>RAIDING STUFF</p>
      <p>RAIDING STUFF</p>
      <p>RAIDING STUFF</p>
      <p>RAIDING STUFF</p>
      <p>RAIDING STUFF</p>
      <p>RAIDING STUFF</p>
      <p>RAIDING STUFF</p>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <div id="roster" class="section grey lighten-2">
    <div class="row container">
      <p>ROSTER</p>
      <p>ROSTER</p>
      <p>ROSTER</p>
      <p>ROSTER</p>
      <p>ROSTER</p>
      <p>ROSTER</p>
      <p>ROSTER</p>
      <p>ROSTER</p>
      <p>ROSTER</p>
      <p>ROSTER</p>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <div id="join" class="section grey lighten-2">
    <div class="row container">
      <p>JOIN US</p>
      <p>JOIN US</p>
      <p>JOIN US</p>
      <p>JOIN US</p>
      <p>JOIN US</p>
      <p>JOIN US</p>
      <p>JOIN US</p>
      <p>JOIN US</p>
      <p>JOIN US</p>
    </div>
  </div>
{{md-parallax image="/assets/images/legion-2560x1440-wide.jpg"}}
