{{md-parallax image="assets/img/trees.jpg"}}
<div class="header">
  <div class="logo">
    <img src="http://placekitten.com/300/300" alt="" />
  </div>
  <h1>Jackalope Design</h1>
</div>
<section class="home section grey lighten-3">
  <div class="row container">
    <div class="col m12 l4">
      <div class="profile-image">
        <img src="assets/img/me.jpg" alt="meow" />
      </div>
    </div>
    <div class="col m12 l8">
      <h1>Hello, there!</h1>
      <h3>I'm Jamie Smylnycky</h3>
      <p>
        I run Jackalope Design. My mission is to create beautiful websites with clean code.
        By trade, I am a UI / UX Designer and Developer based in the greater Detroit area. I'm also a freelance illustrator and graphic designer.
      </p>
    </div>
  </div>
</section> <!--end home-->
<section class="button-row section blue-grey darken-4">
  <div class="row container">
    <div class="col s12 l4">
      <a href="assets/Jamie-resume.pdf" target="_blank" class="btn default waves-effect waves-light red accent-1"><i class="material-icons">picture_as_pdf</i> Download Résumé</a>
    </div>
    <div class="col s12 l4">
      <a class="btn default waves-effect waves-light red accent-1"><i class="material-icons">collections</i> View Portfolio</a>
    </div>
    <div class="col s12 l4">
      <a href="http://www.linkedin.com/in/jamie-smylnycky" target="_blank" class="btn default waves-effect waves-light red accent-1"><i class="fa fa-linkedin" aria-hidden="true"></i> Linked In</a>
    </div>
  </div>
</section> <!--end button-row-->
{{md-parallax image="assets/img/sunset.jpg"}}
<section class="resume section blue-grey lighten-5">
  <div class="row container">
    <div class="logo">
      <img src="http://placekitten.com/100/100" alt="" />
    </div>
    <h1>Résumé</h1>
    <div class="col s12 l8">
      <h4>Experience</h4>
      <div class="exp-container">
        <div class="years">
          2015 - 2016
        </div>
        <div class="company">
          <h5>Digital Roots</h5>
          <div class="title">
            Lead UI / UX Designer
          </div>
          <p>
            Created a consistent look and feel across products, improved front-end
            technology, and introduced team best practices.
          </p>
        </div>
      </div>
      <div class="exp-container">
        <div class="years">
          2013 - 2015
        </div>
        <div class="company">
          <h5>RIIS</h5>
          <div class="title">
            UI / UX Designer Consultant
          </div>
          <p>
            Created beautiful UIs for many clients including: Cengage Learning,
            Blue Cross, and St. Joseph. Projects ranged from marketing sites and
            concept work to internal development tools.
          </p>
        </div>
      </div>
      <div class="exp-container">
        <div class="years">
          2011 - 2013
        </div>
        <div class="company">
          <h5>Yottabyte</h5>
          <div class="title">
            UI / UX Designer
          </div>
          <p>
            Developed the UI for a cloud-based operating system, created an
            icon suite, and handled all graphic design for the company.
          </p>
        </div>
      </div>
      <div class="exp-container">
        <div class="years">
          2008 - 2011
        </div>
        <div class="company">
          <h5>SongsForTeaching.com</h5>
          <div class="title">
            Digital Illustrator & Graphic Designer
          </div>
          <p>
            Illustrated hundereds of coloring pages, created web graphics, and
            handled tech support for customer service.
          </p>
        </div>
      </div>

      <h4>Education</h4>
      <div class="exp-container">
        <div class="years">
          2005 - 2009
        </div>
        <div class="company">
          <h5>Bachelor of Fine Arts</h5>
          <div class="title">
            Emphasis in Digital Illustration
          </div>
          <p>
            Grand Valley State University <br />
            Allendale, MI
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 l4">
      <h4>Skills</h4>
    </div>
  </div>
</section>
