{{md-parallax image="/assets/images/legion-2560x1440-wide.jpg"}}
<div id="home" class="section grey darken-4 white-text">
  <div class="row container">
    <h1>No Breaks</h1>
    <p>
      We are a raiding guild on Thrall (9/13 Mythic HFC). Although we're not
      hardcore raiders, we buckle down when necessary. No Breaks prides itself
      on creating a close-knit community and friendly, albeit weird, members.
      We have a guild leader that isn't a scrub and we wear pink on Fridays!
    </p>

    <h2>Plans for Legion</h2>
    <p>
      No Breaks will be raiding in Legion! We are looking for some new members
      to fill out our current raid team and help us with progression when the
      new expansion drops.
    </p>
  </div>
  <div class="row container crying-bear">
    crying bear placeholder
  </div>
</div>

{{md-parallax image="/assets/images/emerald-nightmare.jpg"}}
<div id="raiding" class="section grey lighten-2">
  <div class="row container">
      <h1>Raiding</h1>
      <p>Did we mention we raid? Check out our progress, laugh at our logs, and watch us on Twitch!</p>
      <br>
      <button type="button" name="button" class="btn default">Raiding</button>
  </div>
</div>

<div id="social" class="section cyan">
  <div class="row container white-text">
    <h1>Social</h1>
    <p class="col s12 m4"><i class="fa fa-facebook-official" aria-hidden="true"></i><a href="https://www.facebook.com/groups/448758615283027/" target="_blank">Facebook Group</a></p>
    <p class="col s12 m4"><i class="fa fa-twitch" aria-hidden="true"></i><a href="https://www.twitch.tv/nobreaksraiding" target="_blank">Twitch Channel</a></p>
    <p class="col s12 m4"><i class="fa fa-youtube-square" aria-hidden="true"></i><a href="https://www.youtube.com/channel/UCiTx1a_BI53itw-fHNIib2w">Murloc's Youtube Channel</a></p>
  </div>
</div>

{{md-parallax image="/assets/images/legion.png"}}
<div id="join" class="section grey lighten-2">
  <div class="row container">
    <h1>Join Us!</h1>
    <p>
      Either post on the forums or message a guild member for more information. ShdowHuntr (SweetTea#1139) is the recruitment officer.
    </p>
    <button type="button" name="button" class="primary btn">Apply</button>
  </div>
  <div class="row container">
    <h2>Call to Arms</h2>
    <p>
      We are preparing for Legion! Join in on the fun and find some leveling buddies!
    </p>
  </div>
</div>
<div id="footer" class="section grey darken-4 white-text">
  <div class="row container">
    <p class="col s6">
      <a href="https://www.facebook.com/groups/448758615283027/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      <a href="https://www.twitch.tv/nobreaksraiding" target="_blank"><i class="fa fa-twitch" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UCiTx1a_BI53itw-fHNIib2w" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
    </p>
    <p class="col s6">Made with <i class="fa fa-heart" aria-hidden="true"></i> by Vxar and Shadryn</p>
  </div>
</div>
