{{md-parallax image="/assets/images/join-us.jpg"}}
<div class="section join">
  <div class="row container">
    <h3>Join No Breaks</h3>
    <p>No Breaks is a pretty unique guild. We value personality as much as skill.
      The majority of our members are adults but we welcome everyone. If you are
      interested in joining the raiding team, there is a two week trial period
      to see how everyone gets along. If all goes well, you'll be accepted to
      join the raid team! (We love our casual players, too!)
    </p>
    <p>The officers are Konnovar, Truhealz, Nebet, Skarlin, Shdowhuntr, Themurloc, and Stormpeaks.</p>
  </div>
  <div class="row container">
    <h3>Apply</h3>
    <p>Please head over to our forums to apply. The officers will review your
      application and get back to you. You can also talk to us in-game if you
      would like some more information.
      <br><br>
      <button class="btn primary">Apply</button>
    </p>
  </div>
</div>
{{outlet}}
