{{md-parallax image="/assets/images/join-us.jpg"}}
<div class="section join">
  <div class="row container">
    <h3>Join No Breaks</h3>
    <p>About us, who we're looking for, and how to apply.</p>
  </div>
</div>
{{outlet}}
