{{md-parallax image="/assets/images/join-us.jpg"}}
<div class="section join blue-grey darken-3 white-text">
  <div class="row container">
    <h3>Join No Breaks</h3>
    <p>No Breaks is a pretty unique guild. We value personality as much as skill.
      The majority of our members are adults but we welcome everyone. If you are
      interested in joining the raiding team, there is a two week trial period
      to see how everyone gets along. If all goes well, you'll be accepted to
      join the raid team! (We love our casual players, too!)
    </p>
    <p>The officers are Konnovar, Truhealz, Nebet, Skarlin, Shdowhuntr, Themurloc, and Stormpeaks.</p>
  </div>
  <br>
  <br>
  <div class="row container">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content">
          <div class="card-title"><h4>Apply</h4></div>
          <p>Please head over to our forums to apply. The officers will review your
            application and get back to you. You can also talk to us in-game if you
            would like some more information.
            <br><br>
            <a href="https://forum.nobreaksguild.com/category/26/recruitment" target="_blank" class="btn primary cyan">Apply</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
