{{md-parallax image="/assets/images/social-header.jpg"}}
<div class="social section">
  <div class="row container">
    <h3>Social</h3>
    <p>Guild events and other activities outside of WoW.</p>
  </div>

  <div class="row container">
    <h4>Raiding</h4>
    <p>We will be continuing our current raid schedule as soon as everyone is geared up in Legion. (Exact date is TBD.)</p>
    <ul>
      <li>Tuesday 7-10 EST</li>
      <li>Wednesday 7-10 EST</li>
      <li>Thursday 7-10 EST</li>
      <li>Friday 7-10 EST (Alt Run)</li>
    </ul>
    <p>Interested in Raiding? Head over to the Raiding section!
      <br>
      <br>
      <button type="button" class="btn primary">Raiding</button>
    </p>
  </div>

  <div class="row container">
    <h4>Other Games</h4>
    <p>For most of us, WoW is only one of the games we play. You can also find us on:</p>
    <ul>
      <li>Overwatch</li>
      <li>League of Legends</li>
      <li>Dark Souls</li>
      <li>Pokemon Go!</li>
      <li>...and more. Ask us in Guild Chat!</li>
    </ul>
  </div>
  <div class="row container">
    <h4>Side Projects</h4>
    <section class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            <div class="chip">
              <img src="/assets/images/murloc.jpg" alt="Themurloc">
              Themurloc
            </div>
          </div>
          <p>Murloc has a Youtube Channel for game reviews.</p>
          <div class="card-action">
            <a href="https://www.youtube.com/channel/UCiTx1a_BI53itw-fHNIib2w"><i class="fa fa-youtube-square" aria-hidden="true"></i> Themurloc</a>
          </div>
        </div>
      </div>
    </section>
    <section class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <div class="chip">
            <img src="/assets/images/shadryn.jpg" alt="Shadryn">
            Shadryn
          </div>
          <p>Shadryn likes to draw. She will happily draw your character!</p>
          <div class="card-action">
            <a href="http://shadryn.com"><i class="fa fa-tumblr-square" aria-hidden="true"></i> Shadryn.com</a>
          </div>
        </div>
      </div>
    </section>
    <section class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            <div class="chip">
              <img src="/assets/images/shadryn.jpg" alt="Shadryn">
              Shadryn
            </div>
            <div class="chip">
              <img src="/assets/images/vex.jpg" alt="Vxar">
              Vxar
            </div>
          </div>
          <p>Vxar and Shadryn keep the website and forums running. Are you a developer, too?</p>
          <div class="card-action">
            <a href="https://github.com/jsmylnycky/nobreaks"><i class="fa fa-github" aria-hidden="true"></i> Work with us on Github</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


{{outlet}}
